<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name=".GoogleTranslateDictionaryPluginService"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.dokuendev.dokuenreader.dictionary.BIND_DICTIONARY_SERVICE" />
                <category android:name="io.github.dokuendev.dokuenreader.category.TRANSLATOR" />
            </intent-filter>

            <!-- REQUIRED: These five fields are mandatory -->
            <meta-data
                android:name="plugin_name"
                android:value="Google Translate (sample)" />
            <meta-data
                android:name="plugin_version"
                android:value="1.0.0" />
            <meta-data
                android:name="plugin_author"
                android:value="Dokuen Reader" />
            <meta-data
                android:name="plugin_description"
                android:value="Sample translator plugin using the Google Cloud Translation API" />
            <meta-data
                android:name="plugin_license"
                android:value="Apache 2.0" />

            <!-- Optional metadata -->
            <meta-data
                android:name="plugin_website"
                android:value="https://github.com/dokuen-dev/dokuen-reader" />
            <meta-data
                android:name="plugin_support_email"
                android:value="dokuen.reader@gmail.com" />
        </service>
    </application>

</manifest>
